<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h3>Add Product</h3>
  <form action='/products/add' method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <br>
    <br>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required>
    <br>
    <br>
    <label for="category">Category</label>
    <input type="text" name="category" id="category" required>
    <br>
    <br>
    <label for="total_amount">Amount</label>
    <input type="number" name="total_amount" id="total_amount" required>
    <br>
    <br>
    <label for="warehouse_id">Warehouse</label>
    <select name="warehouse_id" id="warehouse_id">
      <% wShelves.forEach (e => { %>
        <option value="<%= e.id %>"><%= e.shelf_name %></option>
      <% }) %>
    </select>
    <br>
    <br>
    <button type="submit">Add Product</button>
    
  </form>
  
</body>
</html>