<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Warehouse Shelf</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h3>Add Warehouse Shelf</h3>
  <form action="/warehouse/shelves/add">
    <label for="shelf_name">Shelf Name</label>
    <input type="text" name="shelf_name" id="shelf_name">
  </form>
</body>
</html>