<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Shelves</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h3>Display Shelves</h3>
  <table border="1px">
    <thead>
      <th>Name</th>
      <th>Amount</th>
      <th>Action</th>
    </thead>
    <% dShelves.forEach (e => { %>
      <tr>
        <td><%- e.name %></td>
        <td><%- e.amount_display %></td>
        <td><a href="/display/edit">Edit</a> || <a href="/display/sold/<%= e.id %>">Sold</a></td>
      </tr>
    <% }) %>
    
  </table>
</body>
</html>