<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Apps</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h4><a href="/products">Products List</a></h4>
  <h4><a href="/warehouse">Warehouse Shelves</a></h4>
  <h4><a href="/display">Display Shelves</a></h4>
</body>
</html>