<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warehouse</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <h3>Shelves List</h3>
  <a href="/warehouse/shelves/add">Add Warehouse Shelf</a>
  <table border="1px">
    <thead>
      <th>Warehouse Shelf Name</th>
      <th>Amount</th>
      <th>Action</th>
    </thead>
    <% warehouse.forEach (e => { %>
      <tr>
        <td><%- e.warehouse_shelf_id %></td>
        <td>nama produk</td>
        <td><a href="/warehouse/shelves/ <%= e.id %>">See Contents</a></td>
      </tr>
    <% }) %>
</body>
</html>